* {
  margin: 0;
  box-sizing: border-box;
}

.calender {
  width: 320px;
  margin: 20px auto;
  border: 1.5px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 10px;
  box-shadow: 0.4px 12px rgba(0, 0, 0, 0.1);
  font-family: "roboto" sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #b670f4;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.header button {
  background: none;
  border: none;
  color: white;
  font-size: 15px;
  opacity: 0.7;
  cursor: pointer;
}

.days-names,
.day {
  display: flex;
  flex-wrap: wrap;
}

.day,
.empty-day {
  width: calc(100% / 7);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  opacity: 0.2;
  border-radius: 8px;
}
.days-names {
  background-color: #f0f0f0;
  font-weight: bold;
  opacity: 0.5;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.days {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border: none;
  gap: 0px;
  margin: 0;
}
.days:hover {
  background-color: #e0e0e0;
}
.today {
  background-color: #b670f4;
  color: white;
  text-align: center;
  border-radius: 8px;
}

.selected {
  background-color: #b670f4;
  color: white;
  text-align: center;
  border-radius: 8px;
}
